.scroller_container {
    // max-height: 70%;
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;

}

.containerAbove {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 70px 50px;
    margin-top: 50px;
}

.dashBoardTasks {
    direction: rtl;
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.dashBoardTasks tr {
    border-bottom: 1px solid #a1a1a1;
}

.dashBoardTasks th {
    padding: 15px;
    background-color: #f1efef;
}

.dashBoardTasks td {
    padding: 12px;
}

.containerQuickBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: rtl;
    gap: 15px;
}

.btnDiv {
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

#inProcessTasks {
    box-shadow: 1px 1px 2px orange;
}

#urgentTasks {
    box-shadow: 1px 1px 2px red;
}

#conpleteTasks {
    box-shadow: 1px 1px 2px green;
}

#allTasks {
    box-shadow: 1px 1px 2px blue;
}

#inStarTasks {
    box-shadow: 1px 1px 2px palevioletred;
}

#addTaskBtn {
    border: 1px solid blue;
    background-color: #010179;
    color: white;
    border-radius: 10px;
    padding: 5px 7px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.priority0 {
    color: gray;
}

.priority1 {
    color: yellow;
}

.priority2 {
    color: orange;
}

.priority3 {
    color: #fa5656;
}

.priority4 {
    color: red;
}


.filter_Bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 70%;
    border-radius: 50px;
    padding: 15px 20px;
}

#sort {
    margin-right: 15px;
    display: inline-block;
}

#claerAllFiltersBtn {
    background-color: none;
    border: none;
    border-radius: 30px;
    padding: 7px 10px;
}

.search_input_filter_bar {
    border: 1px solid gray;
    border-radius: 30px;
    padding: 5px;
}

#resultFilter {
    margin-right: 20px;
}

.searchContainer {
    position: relative;
}

.searchIcon {
    position: absolute;
    right: 5px;

}

@media screen and (max-width:600px) {
    .containerAbove {
        padding: 70px 30px;
    }
}