.containerWithImg {
    display: flex;
    gap: 50px;
    direction: rtl;
    background-color: #f2f2f2;
    max-width: 1200px;
    width: 100%;
    padding: 50px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

.task_characterization {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 50%;
    gap: 15px;
    text-align: right;
}

.imgTask {
    width: 50%;
}

.buttons_container {
    display: flex;
    gap: 15px
}

.buttons_container button {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #e7e7fb;
}

.Marginal_information_task {
    width: 40%;
}

.comments_container {
    background-color: #f0f0ff;
    min-height: 150px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
}

.comments_container li {
    padding: 10px;
}


@media screen and (max-width:600px) {
    .containerWithImg{
        flex-direction: column;
    }
}